/* #countLabel{
    background-color: aquamarine;
    display: block;
    text-align: center;
    font-size: 100px;
} 
.center{
    background-color: aqua;
    display: block;
    text-align: center;
    align-items: center;
    font-size: 50px;
}
.center button{
    background-color: white;
    color: rgb(241, 35, 35);
    border-radius: 10px;
    width: 80px;
} */
